{% extends "layout.html" %}

{% block title %}Chronabay - Bagikan senyuman terhadap sesama{% endblock %}

{% block body %}

<div id="content">
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
        </button>

        <ul class="navbar-nav ml-auto">
            <li class="nav-itemno-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">Selamat Datang di <b>Chronabay!</b></span>
                </a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Gagal</h1>
        </div>

        <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 mb-4">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Data Tidak Ditemukan</h6>
                    </div>
                    <div class="card-body">
                        <div class="text-center">
                            <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="{{ BASE_URL }}/img/undraw_posting_photo.svg" alt="">
                        </div>
                        <p>Sayangnya tidak ada data ditemukan dengan ID Donatur tersebut. Namun tenang, Anda bisa memulai berdonasi di Chronabay untuk pertama kalinya!</p>
                        <a href="{{ BASE_URL }}/Donations/donorId">Donasi sekarang &rarr;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}