{% extends "layout.html" %}

{% block title %}Chronabay - Bagikan senyuman terhadap sesama{% endblock %}

{% block body %}

{% block resource %}
    <link href="{{ BASE_URL }}/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
{% endblock %}

<div id="content">
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
        </button>

        <ul class="navbar-nav ml-auto">
            <li class="nav-itemno-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">Selamat Datang di <b>Chronabay!</b></span>
                </a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Sign In</h1>
        </div>

        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <!-- Settings Form Group -->
                <div class="card shadow mb-4">
                    <a href="#settingsForm" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                        <h6 class="m-0 font-weight-bold text-primary">Cek Keanggotaan</h6>
                    </a>
                    <div class="collapse show" id="settingsForm">
                        <div class="card-body">
                            <div class="p-5">
                                <form class="user" action="{{ BASE_URL }}/Donors/searchId" method="POST">
                                    <div class="form-group">
                                        <div class="text-xs font-weight-bold text-uppercase text-primary mb-1">ID Donatur</div>
                                        <input type="text" class="form-control form-control-user" style="border-radius: 0.5vw;" id="target" name="donorId" placeholder="Masukkan ID donatur" required>
                                    </div>
                                    <hr>
                                    <input type="submit" class="btn btn-primary btn-user btn-block" value="Check">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% block script %}

{% endblock %}

{% endblock %}